
.App{
    
    background-color: #fafafa;
    text-align: center;   
}

.mydiv{
    display: flex;
    justify-content: space-around;
    margin: 10px 7%;
    box-shadow: 1px 1px 5px gray;
    padding: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}